.page-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #019CDC;

    .content-wrapper {
        height: 90px;
    }

    .page-navigation {
        left: 0px;
        top: 40px;

        a {
            color: #FFFFFF;

            &:before {
                color: transparent;
                border-bottom: 1px solid #FFFFFF;
            }
        }
    }

    .contact-data-wrapper {
        float: right;
        display: table;
        height: 100%;

        .contact-data {
            height: 100%;
            display: table-cell;
            vertical-align: middle;
            color: #FFFFFF;
            font-size: 15px;
            line-height: 18px;
        }
    }
}