.stylish-table {
    border: 1px solid #DCDCDC;
    margin-bottom: 40px;

    &:last-of-type {
        margin-bottom: 0px;
    }

    th, td {
        border: 1px solid #DCDCDC;
        vertical-align: middle;
        padding: 4px 6px;
        font-size: 12px;
        line-height: 15px;

        &:first-of-type {
            text-align: center;
        }
    }

    th {
        background: #F5F5F5;
        font-weight: 400;
    }

    td {
        font-weight: 300;
    }
}