<!DOCTYPE html>
<html>
<head>
    <title>Inmax</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body>
    
    <header class='page-header'>
        <div class='content-wrapper'>
            <div class='logo'></div>
            <nav class='page-navigation'>
                <a href="#" data-hover="O firmie">O firmie</a>
                <a href="#" data-hover="Opis osiedla">Opis osiedla</a>
                <a href="#" data-hover="Galeria">Galeria</a>
                <a href="#" data-hover="Plany domów">Plany domów</a>
                <a href="#" data-hover="Standardy">Standardy</a>
                <a href="#" data-hover="Wizualizacja">Wizualizacja</a>
                <a href="#" data-hover="Kontakt">Kontakt</a>
            </nav>
        </div>
    </header>

    <section class='page-content'>
        <div class='content-wrapper'>
            <div class='page home-page'>
                <div class='banner'>
                    <img src='https://storage.googleapis.com/idx-acnt-gs.ihouseprd.com/AR696468/site/banner_image_original_1445618380.jpg' />
                </div>
                
                <div class='tiles-holder'>
                    <a href='#' class='tile tile-with-image'>
                        <img src='http://thailand-houses-for-sale.zaken.tv/tablepics/thailand-houses-for-sale-15.jpg' />
                        <h2>
                            Domy
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet magna alaqua.
                        </p>
                    </a>
                    <a href='#' class='tile tile-with-image'>
                        <img src='http://images.oyster.com/photos/premier-room--v1975232-61-sq-200.jpg' />
                        <h2>
                            Gabinety
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet magna alaqua.
                        </p>
                    </a>
                    <a href='#' class='tile tile-with-image'>
                        <img src='https://s-media-cache-ak0.pinimg.com/236x/46/a2/d9/46a2d95b88fdec99d11aeb1eeb9bb356.jpg' />
                        <h2>
                            Biura
                        </h2>
                        <p>
                            Lorem ipsum dolor sit amet magna alaqua.
                        </p>
                    </a>
                    <a href='#' class='tile long-tile'>
                        <h2>
                            Lokalizacja
                        </h2>
                        <div class='description-holder'>
                            <p>
                                Lorem ipsum dolor sit amet magna alaqua.
                            </p>
                        </div>
                    </a>
                    <a href='#' class='tile short-tile'>
                        <h2>
                            Kontakt
                        </h2>
                    </a>
                </div>

                <div class='description'>
                    <p>
                        Pierwszych zakupów nieruchomości gruntowych spółka dokonała w położonym pod Łodzią Ksawerowie. W listopadzie 2007r firma rozpoczęła budowę pierwszego osiedla domów jednorodzinnych w zabudowie szeregowej właśnie na terenie Ksawerowa.
                    </p> 

                    <p>
                        Zależy nam aby realizowane przez nas osiedla wyróżniały się przede wszystkim funkcjonalną i spójną architekturą, wysokim standardem wykończenia oraz bardzo dobrą jakością wykonania. Naszym celem jest prowadzenie biznesu w sposób dający satysfakcję i zadowolenie klientów z zakupionych w naszej firmie nieruchomości jak również pewność i poczucie bezpieczeństwa wszystkich naszych kontrahentów w relacjach biznesowych nas łączących.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer class='page-footer'>
        <div class='content-wrapper'>
            <nav class='page-navigation'>
                <a href="#" data-hover="O firmie">O firmie</a>
                <a href="#" data-hover="Opis osiedla">Opis osiedla</a>
                <a href="#" data-hover="Galeria">Galeria</a>
                <a href="#" data-hover="Plany domów">Plany domów</a>
                <a href="#" data-hover="Standardy">Standardy</a>
                <a href="#" data-hover="Wizualizacja">Wizualizacja</a>
                <a href="#" data-hover="Kontakt">Kontakt</a>
            </nav>
            <div class='contact-data-wrapper'>
                <div class='contact-data'>
                    ul. Nowotki 4, 95-054 Ksawerów <br />
                    tel. 509 017 727, (0 42) 212 82 17
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
