<!DOCTYPE html>
<html>
<head>
  <title>Inmax</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    
    <header class='page-header'>
        <div class='content-wrapper'>
            header content is here
        </div>
    </header>

    <section class='page-content'>
        <div class='content-wrapper'>
            page content is here
        </div>
    </section>

    <footer class='page-footer'>
        <div class='content-wrapper'>
            footer content is here
        </div>
    </footer>

</body>
</html>
