<!DOCTYPE html>
<html>
<head>
    <title>Inmax</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="sa0NUv-7MLYPrETARgzuzLoMVTmLtxb0iaUXJgZky44" />
</head>
<body>

<%= yield %>

</body>
</html>
